services:
  jupyterhub:
    build:
      context: .
      args:
        JUPYTERHUB_VERSION: latest
    restart: always
    image: jupyterhub
    container_name: jupyterhub
    volumes:
      # The JupyterHub configuration file
      - "./jupyterhub_config.py:/srv/jupyterhub/jupyterhub_config.py:ro"
      # Bind Docker volume on host for JupyterHub database
      - "./jupyterhub-data:/srv/jupyterhub/data"
      # Bind User Home Directory
      - "jupyter-user-data:/home"
    ports:
      - "8000:8000"
    user: root
    environment:
      # This username will be a JupyterHub admin
      JUPYTERHUB_ADMIN: admin
      JUPYTERHUB_COOKIE_SECRET: 5cd19102ec69b19b5dd97284a422b58ef2a4d7329fd28f91d525c084653eb9b3
    command: ["jupyterhub", "-f", "/srv/jupyterhub/jupyterhub_config.py"]

volumes:
  jupyter-user-data:
    name: jupyter-user-data